extends layout

//-this variables block needs to be included on every page which will use a variable (cannot be put in the layout
//-as variables are loaded with the specific page)
block variables
  //-username comes from res.render() on the server, USERNAME is the name of the variable in the pug, USERNAME is also
  //-defined in a script so it can be used in the js files
  - const USERNAME = username
  script.
    //https://pugjs.org/language/interpolation.html
    const USERNAME = "#{USERNAME}";

block header
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='stylesheets/about.css')
  title About


block content
  h3(class ) ASCEND Health tracker
  p 
    div Ascend provides a personalised space to track your fitness goals. 
      ul  
        li Goal capturing and Reporting
        li Custom workout and diet
        li Group workouts
        li Calorie tracking and BMI tracker
  
    div ASCEND to the next level by tracking your progress your way. 
    div Your fitness journey happens at your own pace. ASCEND will help you see how far you have come.

