extends layout

block content
  nav
    ul
      li
        a(href='/') Click here to get to index 
      li
        a(href='/login') Click here to get to login 
      li
        a(href='/userDashboard') Click here to get to User dashboard 
      li  
        a(href='/groupDashboard' style={color: 'red'}) Click here to get to group dashboard