extends layout

block variables
  //-username comes from res.render() on the server, USERNAME is the name of the variable in the pug, USERNAME is also
  //-defined in a script so it can be used in the js files
  - const USERNAME = username
  script.
    //https://pugjs.org/language/interpolation.html
    const USERNAME = "#{USERNAME}";

block header 
    link(rel='stylesheet' href='stylesheets/groupDashboard_style.css')
    script(src='javascripts/groupdashboards/createGroup.js', defer)
    script(src='javascripts/groupdashboards/viewGroup.js', defer)
    script(src='javascripts/dataInteraction.js')
    title My Group Dashboard
   
block content
  div#groups
  button#createGroupButton(type='button') Create Group
  .overlay(style='display:none;')
    #addDescriptionContainer.popup(style='display:none;')
      button#exitButtonDescription(type='button') X
      h1 Description 
      div#descriptionInfo
    #addGroupContainer.popup(style='display:none;')
      button#exitButtonCreateGroup(type='button') X
      h1#gcHeader Group Creation Form
      form#groupCreationForm(onsubmit="return false;")
        div#cgContainer
          input#groupName(type='text' name='group-name' placeholder='Group Name' required='')
          <h2 id="descriptionHeader"><label for="description">Description:</label></h2>
          textarea#groupDescription(name="description", rows="4", cols="50") 
          //- input#groupDescription(type='text' name='group-Description' placeholder='Group Description' required='' size="50px")
          div#email-AddButtContainer
            input#memberEmail(type='email' name='members-email' placeholder='Members Username' required='' size='30px')
            button#addMemberEmail(type='button' name='members-email' placeholder='Members Username') Add
          <div id="memberEmails"></div>
          button#submitGroupForm(type='button' name='submit' placeholder='submit') Submit
    #addGoalContainer.popup(style='display:none;')
      button#exitButtonGoal(type='button') X
      h3(style="margin-left: 25px;") Add Goal
      form(action='http://localhost:3000/userDashboard#' method='post')
      label(for='goalType')
      select(name="Goal Type" id="goalType" style="margin-bottom: 10px;")
        option(value="") Select One ...
        option(value="Target Weight") Target Weight
      <div id="goalOutput"></div>




 
   
    
  