extends layout

block header 
    link(rel='stylesheet' href='stylesheets/groupDashboard.css')
    script(src='javascripts/groupdashboard.js', defer)
    script(src='javascripts/dataInteraction.js')
    title My Group Dashboard
   
block content
 p hello
    
  