extends layout

//-this variables block needs to be included on every page which will use a variable (cannot be put in the layout
//-as variables are loaded with the specific page)
block variables
  //-username comes from res.render() on the server, USERNAME is the name of the variable in the pug, USERNAME is also
  //-defined in a script so it can be used in the js files
  - const USERNAME = username
  script.
    //https://pugjs.org/language/interpolation.html
    const USERNAME = "#{USERNAME}";

block header
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='stylesheets/index_style.css')
  title Home

block content
  h2(class='moto') ASCEND (Accessable System for Capture of Exercise and Natural Diet)
  h3(class='moto') YOUR LADDER TO SUCCESS
  p(class='homePara')
    | From the start of your journey to the end, track your progress and set your goals.
    | ASCEND will provide you customised personal workout and diet plans. 
    | ASCEND Together with friends in our groups feature
    div(class = 'div_class') 
      ul
        li ASCEND Together 
          ul
            li Join or create a group
            li Choose whether or not to join the group workouts
        li ASCEND FURTHER 
          ul
            li Every step of the way push yourself harder with ASCEND Auto goal tracking 
            li Fuel yourself with ASCEND diet plans, chosen by you and personalised for you.

  // Reference for automatic slideshow: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto
  .slideshow-container
    #slideshow
      img.mySlides.fade(src='images/Running.jpg')
      img.mySlides.fade(src='images/ShoulderPress.jpg')
      img.mySlides.fade(src='images/High5.jpg')
      img.mySlides.fade(src='images/Superman.jpg')
      img.mySlides.fade(src='images/Treadmill.jpg')
      img.mySlides.fade(src='images/Weights.jpeg')
  // Reference for dot buttons: https://www.w3schools.com/howto/howto_js_slideshow.asp
  div(style='text-align:center')
    span.dot(onclick='currentSlide(0)')
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')
    span.dot(onclick='currentSlide(4)')
    span.dot(onclick='currentSlide(5)')

  //If you are wondering, script tag at the bottom otherwise it does not work and says that style for slides is null.
  script.
    let slideIndex = 0;
    let timeout;
    showSlides();

    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++)
    {
    slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++)
    {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "inline-block";
    dots[slideIndex-1].className += " active";
    if (timeout)
    {
      clearTimeout(timeout);
    }
    timeout = setTimeout(showSlides, 5000); // Change image every 5 seconds
    }



