extends layout

block content
  nav
    ul
      li
        a(href='/' style={color: 'red'}) Click here to get to index 
      li
        a(href='/login') Click here to get to login 
      li
        a(href='/signUp') Click here to get to sign up 
      li
        a(href='/userDashboard') Click here to get to user dashboard 
      li  
        a(href='/groupDashboard') Click here to get to group dashboard

  h3 Home page jargon
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus leo in enim vestibulum, ut imperdiet leo fermentum. Duis suscipit erat at eros placerat aliquam. Sed auctor commodo sem eget vehicula. Sed ultrices massa eu sapien pulvinar gravida. Maecenas vel turpis quam. Mauris mollis sapien lacus, vitae condimentum erat lacinia quis. Sed elementum lorem a commodo auctor. Nullam et interdum nunc. Nulla tempor magna et ipsum finibus volutpat. Aenean auctor urna eget ltricies ultricies. Aliquam sed velit eget dui dignissim faucibus. Vestibulum commodo commodo acus, at faucibus elit aliquet ac. Sed placerat id leo quis luctus. Fusce quis efficitur dolor.
