extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href='/index') Click here to get to index 
    a(href='/login') Click here to get to login 
    a(href='/userDashboard') Click here to get to User dashboard 
    a(href='/groupDashboard') Click here to get to group dashboard
