extends layout

//-this variables block needs to be included on every page which will use a variable (cannot be put in the layout
//-as variables are loaded with the specific page)
block variables
  //-username comes from res.render() on the server, USERNAME is the name of the variable in the pug, USERNAME is also
  //-defined in a script so it can be used in the js files
  - const USERNAME = username
  script.
    //https://pugjs.org/language/interpolation.html
    const USERNAME = "#{USERNAME}";

block header
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='stylesheets/index_style.css')
  title Home

block content
  h3 Home page jargon
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus leo in enim vestibulum, ut imperdiet leo
    | fermentum. Duis suscipit erat at eros placerat aliquam. Sed auctor commodo sem eget vehicula. Sed ultrices massa
    | eu sapien pulvinar gravida. Maecenas vel turpis quam. Mauris mollis sapien lacus, vitae condimentum erat lacinia
    | quis. Sed elementum lorem a commodo auctor. Nullam et interdum nunc. Nulla tempor magna et ipsum finibus
    | volutpat. Aenean auctor urna eget ltricies ultricies. Aliquam sed velit eget dui dignissim faucibus. Vestibulum
    | commodo commodo acus, at faucibus elit aliquet ac. Sed placerat id leo quis luctus. Fusce quis efficitur dolor.

  // Reference for automatic slideshow: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto
  .slideshow-container
    #slideshow
      img.mySlides(src='images/cbum.jpg')
      img.mySlides(src='images/harvard.jpg')
      img.mySlides(src='images/mikeohearn.jpg')
      img.mySlides(src='images/rich-piana.jpg')
      img.mySlides(src='images/tren-brothers.jpg')
      img.mySlides(src='images/tren.jpg')
  div(style='text-align:center')
    span.dot
    span.dot
    span.dot
    span.dot
    span.dot
    span.dot

  //If you are wondering, script tag at the bottom otherwise it does not work and says that style for slides is null.
  script.
    let slideIndex = 0;
    showSlides();
    function showSlides() {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++)
    {
    slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    for (i = 0; i < dots.length; i++)
    {
    dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "inline-block";
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
    }


