doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index_style.css')
    title= title
  body
    block content
  footer
    .footer
      // add logo
      p#phone-number Contact: +1 702-706-7568
      .social-media
        img(src='./Home_files/facebook-logo.png', alt='Facebook logo', height='50px', width='50px')
        img(src='./Home_files/twitter-logo.png', alt='Twitter logo', height='50px', width='50px')
        img(src='./Home_files/instagram-logo.png', alt='Instagram logo', height='50px', width='50px')
      p#copyright &copy; 2023 A.S.C.E.N.D Health