doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    h1 A.S.C.E.N.D Health
    // add logo
    block content
  footer 
    div(class='footer')
      // add logo
      p © 2023 A.S.C.E.N.D Health
      p Contact: 
      img(src = "images/facebook-logo.png" alt = "Facebook logo" height="50px" width="50px")
      img(src = "images/twitter-logo.png" alt = "Twitter logo" height="50px" width="50px")
      img(src = "images/instagram-logo.png" alt = "Instagram logo" height="50px" width="50px")