extends layout

block header
  link(rel='stylesheet' href='stylesheets/login_style.css')
  script(src='javascripts/login.js', defer)
  title Login

block content
  h3 Login 
  form(id='fLogin' onsubmit='return false;')
    label(for='username') Username
    br
    input#username(type='text' name='username' placeholder='Username' required='')
    br
    label(for='password') Password
    br
    input#password(type='password' name='password' placeholder='Password' required='')
    br
    input#login-button(type='submit' value='Login')