extends layout

block header
  link(rel='stylesheet' href='stylesheets/signUp_style.css')
  script(src='javascripts/signUp.js', defer)
  script(src='javascripts/dataInteraction.js', defer)
  title Sign Up

block content  
  h3 Sign Up 
  form(id='fSignUp' onsubmit='return false;')
    p First name
    label(for='firstName')
    input#firstName(type='text' name='firstName' placeholder='First Name' required='')
    br
    p Last name
    label(for='lastName')
    input#lastName(type='text' name='lastName' placeholder='Last Name' required='')
    br
    p Username
    label(for='username')
    input#username(type='text' name='username' placeholder='Username' required='')
    br
    p Password
    label(for='password')
    input#password(type='password' name='password' placeholder='Password' required='')
    br
    p Verify password
    label(for='passwordConfirm')
    input#passwordConfirm(type='password' name='passwordConfirm' placeholder='Confirm Password' required='')
    br
    p Other details
    .other-details-container
      input#height(type='height' name='height' placeholder='Height(cm)')
      label(for='height')
      br
      input#weight(type='weight' name='weight' placeholder='Weight(kg)')
      label(for='weight')
      br
      input#age(type='age' name='age' placeholder='Age(Years)')
      label(for='age')
      br
      input#bmi(type='bmi' name='bmi' placeholder='BMI')
      label(for='bmi')
      br
    input#sign-up-button(type='submit' value='Sign Up')
