extends layout

block header
  link(rel='stylesheet' href='stylesheets/userDashboard_style.css')
  script(src='javascripts/dashboard.js', defer)
  title My Dashboard

block content
  // overlay that dimms the screen
  .overlay(style='display:none;')
    // popup for add exercise
    #addExerciseContainer.popup(style='display:none;')
      button#exitButtonExercise(type='button') Close
      h3 Add Exercise
      //form(action='http://localhost:3000/userDashboard' method='post' id="dietForm")
      form#exerciseForm(onsubmit="return false;")
        label(for='exercise')
        //input#exercise(type='text' name='exercise' placeholder='Exercise Type' required='')
        //Reference for change event: https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event
        p Select type of exercise: 
          select(name="exercises" id="exercises")
            option(value="") Select One ...
            option(value="Upper Body") Upper Body
            option(value="Lower Body") Lower Body
            option(value="Cardio") Cardio
          //- button#verifyExercise(type="button") submit  
          <div id="variations"></div>    
        //label(for='time')
        //input#time(type='text' id="ids" name='time' placeholder='Timee')
        //br
        //- label(for='distance')
        //- input#distance(type='text' name='distance' placeholder='Distance')
        //- br
        input(type='submit' id ="adde" value='Add Exercise')

    // popup for add diet
    #addDietContainer.popup(style='display:none;')
      h3 Add Diet
      button#exitButtonDiet(type='button') Close
      table#dietTable(style='width:100%', border='1')
      form#dietsForm(action='http://localhost:3000/userDashboard#' method='post')
        
        input(type='submit' id="addCustomDiet" value='Add Custom Diet')

    #addCustomDietsContainer.popup(style='display:none;')    
      button#exitCustomDiets(type='button') Close
      form#CustomDietsForm(onsubmit="return false;")
        label(for='foodType')
        input#foodType(type='text' name='foodType' placeholder='Food Type' required='')
        br
        label(for='calories')
        input#calories(type='text' name='calories' placeholder='Calories' required='')
        br
        label(for='mealType')
        input#mealType(type='text' name='mealType' placeholder='Meal Type' required='')
        br
        input(type='submit' id="addDiet" value='Add Diet')

    // popup for add goal
    #addGoalContainer.popup(style='display:none;')
      button#exitButtonGoal(type='button') Close
      h3 Add Goal
      form(action='http://localhost:3000/userDashboard#' method='post')
        label(for='goal')
        input#goal(type='text' name='goal' placeholder='Goal' required='')
        br
        label(for='deadline')
        input#deadline(type='date' name='deadline' placeholder='Deadline' value ='' min='01-01-2023' max='31-12-2023')
        br
        input(type='submit' value='Add Goal')
  // date header to be changed to be interactable and changeable
  h2 
  form#dataForm(onsubmit="return false;")
     input#date(type='date' name='deadlines' placeholder='Deadlines' min='01-01-2023' max='31-12-2023')
        
  .exerciseDietContainer
    .exercise
      h3 Exercise
      p Exercise - Distance/Time - Distance/Reps
      <div class="line" id="extra"></div>
      //- p Exercise - Distance/Time
      //- p Exercise - Distance/Time
      //- p Exercise - Distance/Time
      button#addExerciseButton(type='button') +
    
    .diet
      h3 Diet
      p Food - Calories - Meal Type
      <div class="line" id="diets"></div>
      //- p Food - Calories - Meal Type
      //- p Food - Calories - Meal Type
      button#addDietButton(type='button') +
  h2#goals Goals
  .goalContainer
    .personalGoals
      h3 Personal Goals
      p Personal goal info here
    //
      <div class="groupGoals">
      <h3>Group Goals</h3>
      <p>Group goal info here</p>
      Add group goal in group page instead of in userDashboard?
      </div>
    button#addGoalButton(type='button') +
  script.
   