#createGroupButton
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 650px;
  font-size: 30px;
  border-radius: 16px;
  transition: background-color 250ms ease-in;
}

#createGroupButton:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

.overlay 
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
  
.overlayHidden 
{
  display:none;
}
  
.popup {
  margin:auto;
  width: 500px;
  border-top: 500px;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;    
  /* text-align: center; */
  padding: 10px;
}

#addGroupContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;

  background-color: #B9DDE0;

  width: 1000px;
  height: 400px;
  box-sizing: border-box;
  
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);

  padding-top: 10px;
  padding-bottom: 50px;
}

#gcHeader
{
  text-align: center;
}

#exitButtonCreateGroup
{
  float: right;
  background-color: white;
  color: black;
  font-weight: bold;
}

#cgContainer
{
  width: 35%;
  margin-left: 125px;
}

#groupName
{
  margin: 10px 0;
}

#descriptionHeader
{
  margin: 0px 0;
}

#groupDescription
{
  resize: none;
}

#memberEmail
{
  margin: 10px 0;
}

#addMemberEmail
{
  margin-left: 5px;
}

#deleteEmail
{
  margin-left: 5px;
  margin-bottom: 5px;
}

#memberEmails
{
  overflow: auto;
  width: 200px;
  height: 100px;
  border-color: aqua;
}

#memEmail-removeMemButt-Container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-AddButtContainer
{
  display: flex;
  align-items: baseline;
}

#submitGroupForm
{
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  width: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}