#createGroupButton
{
  margin: 375px auto 15px;
  font-size: 30px;
  border-radius: 16px;
  transition: background-color 250ms ease-in;
}

#createGroupButton:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

.overlay 
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
  
.overlayHidden 
{
  display:none;
}
  
.popup {
  margin:auto;
  width: 500px;
  border-top: 500px;

  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;

  background-color: #B9DDE0;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;    
  /* text-align: center; */
  padding: 10px;
}

#addGroupContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;

  background-color: #B9DDE0;

  width: 33vmax;
  /* height: 40vh; */
  box-sizing: border-box;
  
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);

  padding-top: 10px;
  padding-bottom: 25px;
}

#gcHeader
{
  text-align: center;
}

#exitButtonCreateGroup
{
  float: right;
  background-color: white;
  color: black;
  font-weight: bold;
}

#groupCreationForm
{
  width: 10vmax;
}

#cgContainer
{
  margin-left: 50%;
}

#groupName
{
  margin: 10px 0;
}

#descriptionHeader
{
  margin: 0px 0;
}

#groupDescription
{
  resize: none;
  width: 24vmin;
}

#memberEmail
{
  margin: 10px 0;
  width: 24vmin;
}

#addMemberEmail
{
  margin-left: 5px;
  border-radius: 4px;
  transition: background-color 250ms ease-in;
}

#addMemberEmail:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

#deleteEmail
{
  margin-left: 5px;
  margin-bottom: 5px;
}

#memberEmails
{
  overflow: auto;
  border-color: aqua;
}

#memEmail-removeMemButt-Container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-AddButtContainer
{
  display: flex;
  align-items: baseline;
}

#submitGroupForm
{
  position: relative;
  left: 165%;
  font-size: 1.25vmax;
  border-radius: 6px;
  transition: background-color 250ms ease-in;
}

#submitGroupForm:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

#divsID
{
  background-color: #4AAFB5;
  font-size: 2vmax;
  text-align: center;
  margin: 10px 0 0;
} 

#divsID:hover
{
  background-color: lightblue;
}

/* Reference for collapsible: https://www.w3schools.com/howto/howto_js_collapsible.asp */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1em;
  color: white;
  float: right;
  margin-right: 15px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* margin: 0;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1; */

  margin: 0;
  padding: 0 18px;
  /*#ADD8E6*/
  background-color: #ADD8E6;
  color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#groupGoalInfo
{
  display: inline-block;
  font-size: 1.5em;
}

#noGroupGoalInfo
{
  font-size: 1.5em;
}

#groupGoalsDiv{
  margin-left: 1000px;
  width: 900px;
  border: 5px solid lightblue;
}

#membersDiv{
  margin-top: 20px;
  width: 900px;
  border: 5px solid skyblue;
}

.groupDivs {
  border: 5px solid black;
  border-radius: 16px;
  margin: 10px;
  padding: 5px;
}

#memberContainer
{
  margin: 0;
  display: flex;
  height: 3vh;
  align-items: center;
}

#memberContainer > p
{
  font-size: 1.25em;
}

#removeMemberButton
{
  margin: 0 10px;
  border-radius: 8px;
  transition: background-color 250ms ease-in;
  font-family: 'Open Sans';
  font-size: 1em;
}

#removeMemberButton:hover
{
  color: rgb(255,255,255);
  background-color: #ff0606;
}

#LeaveGroupButton{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  border-radius: 16px;
  transition: background-color 250ms ease-in;
  
  float: right;
}
#LeaveGroupButton:hover
{
  color: rgb(255,255,255);
  background-color: #ff0606;
}
#description{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  border-radius: 16px;
  transition: background-color 250ms ease-in;
  display: inline-block;
}
#description:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}
#addDescriptionContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;

  background-color: #B9DDE0;

  width: 50vw;
  height: 40vh;
  box-sizing: border-box;
  
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);

  padding-top: 10px;
  padding-bottom: 50px;
}

#descLeaveGroupButtonContainer
{
  padding-bottom: 20px;
}

#descriptionInfo
{
  font-size: 1.15em;
}

#exitButtonDescription
{
  float: right;
  background-color: white;
  color: black;
  font-weight: bold;
}

#exitButtonGoal
{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}

#addPGoal
{
    margin-top: 10px;
}

#addGoalContainer
{
  text-align: center;
  padding: 10px;
  background-color: #B9DDE0;
}

#addGroupGoalButton
{
  border-radius: 12px;
  font-size: 1.5vmax;
  margin-left: 5px;
  transition: background-color 250ms ease-in;
}

#addGroupGoalButton:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

#addMemberButton
{
  border-radius: 8px;
  transition: background-color 250ms ease-in;
}

#addMemberButton:hover
{
  color: rgb(255,255,255);
  background-color: #3E946F;
}

#leaveGoalButton
{
  border-radius: 6px;
  font-size: 1vmax;
  transition: background-color 250ms ease-in;
}

#leaveGoalButton:hover
{
  color: rgb(255,255,255);
  background-color: #ff0606;
}

#goalFeedbackContainer
{
    color: red;
    margin-top: 6px;
}

#noGroupsHeader
{
  font-size: 3vmax;
  text-align: center;
  position: relative;
  top: 150px;
}

@media (max-width: 800px)
{
  #email-AddButtContainer
  {
    flex-direction: column;
  }
  
  #groupGoalInfo
  {
    font-size: 2vmax;
  }

  #submitGroupForm
  {
    font-size: 2vmax;
  }

  #leaveGoalButton
  {
    font-size: 1.75vmax;
  }
}