.homePara{
    text-align: center;
    font-size: 1.25em;
    /* font-family: Calibri; */

}

.div_class {
    align-self: center;
    /* font-family: Calibri; */
    font-size: 1.5em;

}

.moto{
    text-align: center;
}

video
{
    height: auto;
    width: 65%;
}

#tutorialVid
{
    margin: 0 auto 30px;
    border: 3px solid grey;
    box-shadow: 1px 1px 10px 3px;
}