body 
{
  min-height: 100vh;
  font-size: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 14px;
  font-family: 'Open Sans';
}

/* a 
{
  color: #00B7FF;
  text-decoration: none;
} */

.inner_main_menu
{
  margin: 0 auto;
  padding: 0;
  /* width: 98%; */
  /* border: 10px solid black; */
  height: 150px;
}

.inner_main_menu ul
{
  margin: 0;
  padding: 50px 0 0;
  list-style: none;
  text-align: right;
}

.inner_main_menu ul li
{
  float: none;
  display: inline-block;
}

.inner_main_menu ul li:nth-child(1)
{
  float: left;
  font-size: 2em;
}

.inner_main_menu ul li:nth-child(2)
{
  float: left;
  font-size: 2em;
}

.inner_main_menu ul li:nth-child(3)
{
  float: left;
  font-size: 2em;
}

.inner_main_menu ul li:nth-child(4)
{
  float: left;
  font-size: 2em;
}

.inner_main_menu ul li:nth-child(5)
{
  font-size: 3em;
  line-height: 100%;
}

.inner_main_menu ul li:nth-child(6)
{
  font-size: 3em;
  line-height: 100%;
}

.inner_main_menu ul li a
{
  color: #262626;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
}

.inner_main_menu ul li a:hover
{
  color: #7CFC00;
  /* text-shadow: 3px 3px 3px #F5FFFA; */
  /*Reference for outline effect for text: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 3px 3px 3px #F5FFFA;
}

/* Reference for colour gradient: https://cssgradient.io/ */
#main_menu
{
  width: 100%;
  position: relative;
  /* background-color: lightblue; */
  background: rgb(34,193,195);
  background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(173,216,255,1) 100%);
}

.company-logo
{
  position: absolute;
  left: 50%;
  top: 0%;
  content: "";
  margin-left: -75px;
}

footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  /* background-color: lightblue; */
  font-weight: bold;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(173,216,255,1) 100%);
}

footer p
{
  font-size: 1.5em;
  padding: 0 15px;
}

@media screen and (max-width: 600px)
{
  #company-logo
  {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .menu-right
  {
    float: none;
    display: block;
  }
}