h3
{
  text-align: center;
  font-size: 4em;
}

form
{
  text-align: center;
  font-size: 2em;
  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

label
{
  font-size: 3vmax;
}

form input
{
  font-size: 2.999vw;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
}

#login-button
{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #0793f8;
  color: rgb(255,255,255);
  transition: background-color 250ms ease-in;
}

#login-button:hover
{
  background-color: #3E946F;
}

@media (max-width: 600px) 
{
  #login-button
  {
    width: 7.5vmax;
  }
}