h3
{
  text-align: center;
  font-size: 4em;
}

form
{
  text-align: center;
  font-size: 2em;
}

form input
{
  font-size: 2em;
  margin-bottom: 20px;
}

label
{
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#login-button
{
  margin-top: 20px;
  margin-bottom: 20px;
}