h3
{
  text-align: center;
  font-size: 3em;
}

form
{
  text-align: center;
}

form > input
{
  font-size: 2.5vw;
  border-radius: 8px;
}

form > label
{
  font-size: 2vw;
  line-height: 3em;
}

form > p
{
  font-size: 2em;
}

.name-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-container > p:nth-child(1)
{
  font-size: 2.5vw;
  margin: 25px 13%;
}

.name-container > p:nth-child(2)
{
  font-size: 2.5vw;
  margin: 25px 12.5%;
}

.name-container > input
{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 2.5vw;
  border-radius: 8px;
}

#usernameInUseWarning
{
  color: #ff0606;
  font-size: 2.5vw;
  margin-bottom: -25px;
}

.other-details-container 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.other-details-container > input
{
  margin-left: 10px;
  font-size: 1.25vw;
  border-radius: 8px;
}

#sign-up-button
{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 16px;
  background-color: #0793f8;
  cursor: pointer;
  /* #0793f8 */
  /* #4F99FE */
  color: rgb(255,255,255);
  transition: background-color 250ms ease-in;
}

#sign-up-button:hover
{
  background-color: #3E946F;
  /* #1E7CFD */
}

#fSignUp
{
  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (max-width: 600px) 
{
  ul li {
    display: none;
  }

  form > label
  {
    font-size: 3vw;
    line-height: 3em;
  }
  
  .other-details-container 
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .other-details-container > input
  {
    margin-left: 10px;
    font-size: 2.5vw;
    border-radius: 8px;
  }

  #sign-up-button
  {
    /* width: 12.5vw;
    height: 5vw; */

    width: 12.5vmin;
  }
}

/* .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.overlayHidden {
	display:none;
}

.popup {
  margin:auto;
  width: 500px;
  border-top: 500px;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;    
  text-align: center;
  padding: 10px;

} */