#date
{
    text-align: center;
    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;
    
    height: 30px;
    width: 150px;
    box-sizing: border-box;
    
    display: block;
    margin: 0 auto;
    /* position: relative; */
    /* transform: translate(0%, -625%); */
    /* Reference for positioning: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
}

#dateWarning
{
    position: relative;
    /* top: 0%;
    left: 0%; */
    /* transform: translate(0%, -500%); */
    text-align: center;
}

#goals
{
    text-align: center;
    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;
    
    width: 150px;
    box-sizing: border-box;
    
    position: fixed;
    /* Reference for positioning: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
    top: 0%;
    left: 50%;
    transform: translate(-50%, -150%);
}

#addExerciseButton
{
    /* font-size: 30px;
    width: 40px;
    height: 40px; */
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2.5em;
    font-weight: bold;
    /* Text outline \/ remove this if you think it looks ugly */
    -webkit-text-stroke: 2px black;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

#exerciseButtonCenter
{
    position: relative;
    top: 102%;
    left: -23.5%;
    /* transform: translate(250%, -50%); */
}

#addDietButton
{
    /* font-size: 30px;
    width: 40px;
    height: 40px; */
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    

    /*Reference for round button: https://stackoverflow.com/questions/38320878/circle-button-css */
    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2.5em;
    font-weight: bold;
    /* Text outline \/ remove this if you think it looks ugly */
    -webkit-text-stroke: 2px black;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* #food-removeButtonsContainer
{
    display: flex;
}

#exercise-removeButtonsContainer
{
    display: flex;
}

#removeDietButtonsContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;
}

#removeExerciseButtonsContainer
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;
} */

/* .deleteDietButton
{
   margin: 5px 5px;
}

.deleteExerciseButton
{
    margin: 5px 5px;
} */

#dietButtonCenter
{
    /* position: absolute;
    top: 70%;
    left: 83.5%;
    transform: translate(0%, -50%); */

    position: relative;
    top: 102%;
    left: -24%;
    /* transform: translate(-145%, -50%); */
}

.exerciseDietContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto 25px;
    /* transform: translate(0%, -50%); */

    /* Blue: #0793f8 */
    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;

    width: 75%;

    /* #7B94B1 */
    /* #6482a4 */
    background-color: #B9DDE0;

    /* width: 45vw; */
    /* height: 28vh; */
    /* box-sizing: border-box; */
    
    position: relative;
    /* top: 35%;
    left: 50%; */
    /* transform: translate(0%, -50%); */

    padding: 15px 0;
}

/* .line
{
    content:"";
    position: absolute;
    border-left: 5px solid black;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 5px solid black;
    transform: translate(-50%);
} */

#exerciseCont-AddButtContainer
{
    display: flex;
    flex-direction: column;
}

.exercise
{
    border: 0px solid #0793f8;
    border-style: groove;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 3px;
    text-align: center;

    background-color: #FFFFFF;

    width: 20vmax;
    height: 50vmin;
    
    /* margin-left: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    margin: 0 25px;
    padding: 0 10px;
    overflow-y: auto;
}

.exercise > p
{
    line-height: 1em;
    font-size: 20px;
}

.exercise > h3
{
    line-height: 0;
    font-size: 30px;
}

#dietCont-AddButtContainer
{
    display: flex;
    flex-direction: column;
}

.diet
{
    border: 0px solid #0793f8;
    border-style: groove;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 3px;
    text-align: center;

    width: 20vmax;
    height: 50vmin;

    background-color: #FFFFFF;
    /* margin-right: 12px; */
    /* padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    margin: 0 25px;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: auto; 
}

.diet > p
{
    line-height: 1em;
    font-size: 20px;
}

.diet > h3
{
    line-height: 0;
    font-size: 30px;
}

.goalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;
    padding: 10px;

    background-color: #B9DDE0;
    font-weight: bolder;


    width: 60%;
    margin: 0 auto 20px;

    position: relative;
    /* top: 72%;
    left: 50%;
    transform: translate(-50%, -25%); */
}

.personalGoals
{
    text-align: center;
    font-size: 20px;
}

#addGoalButton
{
    font-size: 2em;
    
    width: 150px;
    height: 50px;
    /* position: relative; */
    /* left: 12.5%; */
    /* transform: translate(-50%, -10%); */
    margin-left: auto;
    margin-right: auto;

    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2em;
    font-weight: bold;
    -webkit-text-stroke: 2px black;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.overlayHidden {
	display:none;
}

.popup {
  margin:auto;
  width: 500px;
  border-top: 500px;

  border: 5px solid #0793f8;
  border-style: groove;
  border-radius: 16px;

  background-color: #B9DDE0;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* background-color: white;     */
  text-align: center;
  padding: 10px;
}

#dietTable
{
    font-weight: bold;
    font-size: 1.5em;
}

#CustomDietsForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 195px;
    width: 25%;
}

#adde
{
    margin-top: 10px;
}

#addCustomDiet
{
    margin-top: 10px;
    margin-left: 10px;
}

#addDiet
{
    margin-top: 10px;
}

#addPGoal
{
    margin-top: 10px;
}

#exitButtonExercise
{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}

#exitButtonDiet
{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}

#exitCustomDiets
{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;    
}

#backToAddDiet
{
    float: left;
    background-color: white;
    color: black;
    font-weight: bold;     
}

#exitButtonGoal
{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}

tr:hover {
    background-color: lightblue;
  }

#userInformationContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0;
    border: 5px solid #0793f8;
    background-color: #B9DDE0;
    font-weight: bolder;
    border-style: groove;
    border-radius: 16px;
    width: 50vmax;
    font-size: 1.5em;

    position: relative;
    margin: 10px auto 0;
    /* transform: translate(0%, 0%); */
    /* top: 18%; */
}

#userInfoValues
{
    display: flex;
    flex-direction: row;
}

#heightContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#weightContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#ageContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

#bmiContainer
{    
    display: flex;
    align-items: center;
    margin: 0 10px 33px;
}

#adviceInfo
{
    text-align: center;
}

#heightUpdateButton
{
    /* position: relative;
    margin-top: 14px;
    left: 15%;
    transform: translate(-50%, -50%);  */

    margin: 0 10px;
    font-size: 2.5vmin;
}

#weightUpdateButton
{
    /* position: relative;
    top: 31.9%;
    left: 31.25%;
    transform: translate(-50%, -50%); */

    margin: 0 10px;
    font-size: 2.5vmin;
}

#ageUpdateButton
{
    /* position: relative;
    top: 31.9%;
    left: 40%;
    transform: translate(-50%, -50%); */

    margin: 0 10px;
    font-size: 2.5vmin;
}

#userAdvice
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.pGoalValue
{
    margin: 10px 0;
}

#personalGoals
{
    width: 100%;
    overflow: auto;
}

#deletePersonalGoalButton
{
    font-size: 2vmin;
}

#viewCalorieGraph
{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    border-radius: 16px;
    transition: background-color 250ms ease-in;
}

#viewCalorieGraph:hover
{
    color: rgb(255,255,255);
    background-color: #3E946F;
}

#addCalorieGraphContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;
  
    background-color: #B9DDE0;
  
    width: 50vw;
    height: 40vh;
    box-sizing: border-box;
    
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -25%);
  
    padding-top: 10px;
    padding-bottom: 50px;
}

#exitCalorieGraphContainer{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}    

#weightGraphDiv
{
    display: flex;
}

#viewCalorieGraph
{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 3vmin;
}

#viewWeightGraph
{
    margin-right: 10px;
    margin-bottom: 10px;

    font-size: 3vmin;
    border-radius: 16px;
    transition: background-color 250ms ease-in;
}
#viewWeightGraph:hover
{
    color: rgb(255,255,255);
    background-color: #3E946F;
}

#addWeightGraphContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 5px solid #0793f8;
    border-style: groove;
    border-radius: 16px;

    background-color: #B9DDE0;

    width: 50vw;
    height: 40vh;
    box-sizing: border-box;

    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -25%);

    padding-top: 10px;
    padding-bottom: 50px;
}

#exitWeightGraphContainer{
    float: right;
    background-color: white;
    color: black;
    font-weight: bold;
}    
.overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }
  
.overlay2Hidden 
{
    display:none;
}

@media (max-width: 600px)
{
    #userInformationContainer 
    {
        position: relative;
        margin: 10px auto 0;
        /* transform: translate(0%, 0%); */
        /* top: 18%; */
    }

    #userInfoValues
    {
        flex-direction: column;
    }

    #heightContainer
    {
        display: flex;
        margin: 10px 0;
    }

    #weightContainer
    {
        display: flex;
        margin: 10px 0;
    }

    #ageContainer
    {
        display: flex;
        margin: 10px 0;
    }

    #bmiContainer
    {
        display: flex;
        margin: 10px auto;
    }

    #heightUpdateButton
    {
        font-size: 2.5vmax;
    }

    #weightUpdateButton
    {
        font-size: 2.5vmax;
    }

    #ageUpdateButton
    {
        font-size: 2.5vmax;
    }
    
    .exerciseDietContainer
    {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 30px;
        position: relative;
    }

    .exercise
    {
        height: 50vmax;
        width: 35vmax;
        margin: 0;
    }

    .diet
    {
        height: 50vmax;
        width: 35vmax;
        margin: 20px 0 0 0;
    }

    #deletePersonalGoalButton
    {
        font-size: 2vmax;
    }

    #viewCalorieGraph
    {
        font-size: 3.5vmax;
    }

    #viewWeightGraph
    {
        font-size: 3.5vmax;
    }
    
}
