#date
{
    text-align: center;
    border: 5px black solid;
    
    height: 30px;
    width: 150px;
    box-sizing: border-box;
    
    position: fixed;
    /* Reference for positioning: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#goals
{
    text-align: center;
    border: 5px black solid;
    
    width: 150px;
    box-sizing: border-box;
    
    position: fixed;
    /* Reference for positioning: https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
    top: 63.9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#addExerciseButton
{
    /* font-size: 30px;
    width: 40px;
    height: 40px; */
    margin-left: auto;
    margin-right: auto;

    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

#exerciseButtonCenter
{
    position: fixed;
    top: 90%;
    left: 20%;
    transform: translate(250%, -50%);
}

#addDietButton
{
    /* font-size: 30px;
    width: 40px;
    height: 40px; */
    margin-left: auto;
    margin-right: auto;
    

    /*Reference for round button: https://stackoverflow.com/questions/38320878/circle-button-css */
    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

#dietButtonCenter
{
    position: fixed;
    top: 90%;
    left: 80%;
    transform: translate(-145%, -50%);
}

.exerciseDietContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border: 5px black solid;
    width: 1000px;
    height: 280px;
    box-sizing: border-box;
    
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 10px;
    padding-bottom: 50px;
}

/* .line
{
    content:"";
    position: absolute;
    border-left: 5px solid black;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 5px solid black;
    transform: translate(-50%);
} */

.exercise
{
    border: 3px black solid;
    text-align: center;

    margin-left: 37px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: auto;
}

.exercise > p
{
    line-height: 1em;
    font-size: 20px;
}

.exercise > h3
{
    line-height: 0;
    font-size: 30px;
}

.diet
{
    border: 3px black solid;
    text-align: center;

    margin-right: 12px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: auto;   
}

.diet > p
{
    line-height: 1em;
    font-size: 20px;
}

.diet > h3
{
    line-height: 0;
    font-size: 30px;
}

.goalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 5px solid black;
    padding: 10px;

    position: fixed;
    top: 77.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.personalGoals
{
    text-align: center;
    font-size: 20px;
}

#addGoalButton
{
    font-size: 2em;
    
    width: 150px;
    height: 50px;
    position: relative;
    left: 12.5%;
    transform: translate(-50%, -10%);

    height: 45px;
    line-height: 40px;  
    width: 45px;  
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;
    background-color: #00BFFF;
    color: white;
    text-align: center;
    cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.overlayHidden {
	display:none;
}

.popup {
  margin:auto;
  width: 500px;
  border-top: 500px;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;    
  text-align: center;
  padding: 10px;
}

tr:hover {
    background-color: lightblue;
  }